# Node
node_modules/

# Build output
dist/
www/

# Capacitor/Ionic
android/
ios/

# Angular cache
.angular/cache/

# Environnements
src/environments/*.ts
!src/environments/environment*.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db

# Tests/coverage
coverage/

# Autres fichiers temporaires
*.swp
*.swo

# Fichiers sensibles
.env
.env.*

# Fichiers générés
package-lock.json

