<ion-header class="id-modal-header">
  <ion-toolbar color="light">
    <ion-title class="id-modal-title">
      <ion-icon name="shield-checkmark-outline" class="id-modal-icon"></ion-icon>
      Vérification d'identité
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding id-modal-content">
  <div class="id-modal-instructions">
    <p>Pour sécuriser votre compte, merci de fournir une pièce d'identité <b>et</b> un selfie.</p>
  </div>
  <div class="id-modal-form">
    <label class="id-modal-label">
      <ion-icon name="card-outline" class="id-modal-label-icon"></ion-icon>
      CNI (jpeg, png, jpg, pdf)
      <input type="file" accept=".jpeg,.jpg,.png,.pdf" (change)="onIdCardChange($event)" class="id-modal-file" />
    </label>
    <label class="id-modal-label">
      <ion-icon name="person-circle-outline" class="id-modal-label-icon"></ion-icon>
      Selfie (jpeg, png, jpg)
      <input type="file" accept=".jpeg,.jpg,.png" (change)="onSelfieChange($event)" class="id-modal-file" />
    </label>
    <div *ngIf="errorMsg" class="id-modal-error">{{ errorMsg }}</div>
    <div *ngIf="successMsg" class="id-modal-success">{{ successMsg }}</div>
    <button (click)="submit()" [disabled]="loading" class="id-modal-submit">
      {{ loading ? 'Envoi en cours...' : 'Soumettre' }}
    </button>
  </div>
</ion-content>
